<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
	<form action="/user/newUser4" method="post">
		<input type="text" id="name" name="name" placeholder="Nombre:" required="true"/>
		<br>
		<input type="text" id="lastname"  name="lastname" placeholder="Apellido Paterno:"/>
		<br>
		<input type="text" id="surname" name="surname" placeholder="Apellido Materno"/>
		<br>
		<input type="text" id="age"  name="age" placeholder="Edad:"/>
		<br>
		<input type="submit"/>
	</form>
</body>
</html>